ul,
a,
h2 {
    margin: 0%;
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 3vh;
    color: rgb(189, 170, 0);
}


h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
    color: rgb(194, 174, 0);
}

p {
    font-size: 130%;
    font-style: italic;
    color: #fffad1;

}

.img1 {
    margin: auto;
    background-size: cover;
    width: 80%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(34, 36, 37);
}

header {
    text-align: center;
    justify-content: center;
    height: 7vh;
    width: 100%;
    position: sticky;
    top: 1%;

}

li {
    margin: 1%;
    height: 4vh;
    width: 15vw;
    backdrop-filter: blur(10px);
    display: inline-block;
    text-align: center;
    border-radius: 20%;
}


.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.CajaCenter {
    width: 70%;
    height: 100%;
    align-items: center;
    text-align: center;
    border: 1px #fffbdc solid ;
}

.parte2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    background-color: rgba(82, 75, 75, 0.233);
}


/* parte 2 */


.projects {
    width: 70%;
    height: 100%;
    align-items: center;
    border: 5px #00ffff7c solid;
    text-align: center;
}

.project {
    margin: 10%;
    height: 20%;
    width: 30%;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.2);
    background-image: url(CromaAmarillo.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    background-color: #00000079;
    text-align: center;
    padding: 1em;
    position: end;
    bottom: 0;
    width: 100%;
}